<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | url }}">

  {% include "favicon.njk" %}
  {% include "meta-social-networks-info.njk" %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1PBFW9L49Z"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-1PBFW9L49Z');</script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="mb-0">
          <div class="logo-wrapper d-flex">
            <img src="assets/images/logo2.svg" alt="RxJS Cheat Sheet Logo" class="logo__image me-2"/>
          </div>
        </h3>
      </div>
    </header>

    <main>
      <div class="content-wrapper d-flex text-start">
        <div class="content__text py-2">
          <h1>{{ title }}</h1>
          <p class="lead">{{ description }}</p>
        </div>

        <div class="content__signup-form py-3">
          {% include "sign-up-form-ck.njk" %}
        </div>
      </div>
    </main>

    {% include "footer.njk" %}
  </div>

  <script>
    "use strict";function onBlur(e,r){return function(o){""!==o.target.value?o.target.className=e:o.target.className=e+r}}function onSubmit(e){const r=document.querySelector(".js-fname"),o=document.querySelector(".js-email");if(!r.value||!o.value){e.preventDefault();const n=r.className,a=o.className;r.className=n+" border border-danger border-3",o.className=a+" border border-danger border-3"}r.value&&(r.className="required form-control js-fname"),o.value&&(o.className="required email form-control js-email"),r.addEventListener("blur",onBlur("required form-control js-fname"," border border-danger border-3")),o.addEventListener("blur",onBlur("required email form-control js-email"," border border-danger border-3"))}function checkForm(){document.querySelector(".js-signup-form").addEventListener("submit",onSubmit)}document.addEventListener("DOMContentLoaded",checkForm);
  </script>
</body>
</html>
